body {
    margin: 0px;
    padding: 0px;
    font-family: 'inter';
}

h1,
p {
    margin-bottom: 25px;
}

header,
footer {
    background-color: #303030;
    color: white;
    margin: 0px;
    padding-bottom: 50px;

}

header {
    padding: 120px 0px 70px 30px;
}

section,
form,
footer {
    display: flex;
}

form {
    flex-direction: column;
    margin: 45px 0px;
}

section:first-child {
    justify-content: space-around;
}

footer {
    justify-content: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.textosecao2 {
    margin: auto 0px;
}

.mdiv {
    padding: 35px 0px;
}

.ndiv {
    background-color: #F9F9F9;
}

input {
    background-color: #FFFFFF;
    width: 250px;
    height: 35px;
    margin-top: 25px;
    border-radius: 5px;
    padding-left: 10px;
}

button {
    background-color: #C07212;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 150px;
    margin: 25px auto;
    font-weight: bolder;
    font-size: 17px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.formulario h3 {
    margin-bottom: 10px;
    margin-top: 30px;
}

.formulario form {
    margin-top: 20px;
}